# IDEs and editors
.aswb
.idea
.ijwb
.project
.classpath
.settings
.ipynb_checkpoints

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store

# Bazel generated output
bazel-*

# Python generated output
**.egg-info

# CockroachDB generated output
cockroach-data
