*.iml
.gradle
/local.properties
/.ijwb
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/bazel-*
/captures
.externalNativeBuild
.cxx
